h1 {
    color:darkslateblue; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
    width: 250px;
    height:250px;
}

.subjectContainer {
    display: grid; 
    grid-template-columns: auto auto auto; 
}

.subjectBox {
    border: 2px solid green; 
}

#middlebox {
    border:2px solid red; 
    color: red;
}

.button {
    background-color: aqua;
    width: 100px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    border: 1px solid grey;
}